html
{
    width: 90%;
    margin: auto;
    background-color: #402c25;
    color: white;
}
footer
{
    margin-top: 50px;
    text-align: center;
    font-size: 1.5em;
}
header
{
    margin-bottom: 50px;
}
nav
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.5em;
    border: 1px solid white;
}
ul
{
    list-style-type: none;
}
nav ul
{
    display: flex;
}
nav li
{
    padding: 1em;
    margin-right: 15px;
}
nav a
{
    font-size: 1.3em;
    color: white;
    padding-bottom: 3px;
}
nav a:hover
{
    color: white;
    font-weight: bold;
}
body
{
    background-color: #402c25;
    color: white;
}
table
{
    width: 80%;
}
table, th, td
{
    border: 1px solid white;
}
#contener
{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.element
{
    border: 1px solid white;
    padding: 15px;
}
form
{
    display: table;
    display: inline-block;
}
p
{
    display: table-row;
}
label {
    display: table-cell;
}
input
{
    display: table-cell; margin:10px;
}
